{% extends xidea_template('xidea_user', 'profile_main') %}
{% block bundle_title %}
    <h1 class="page-header">{{ 'profile_show.title'|trans({'%name%':model.name}) }}</h1>
{% endblock %}
{% block bundle_main %}
    {% block profile_main %}
        {% block profile_details_box %}
            <div class="box user-profile-box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'profile_show.details.title'|trans }}</h3>
                </div>
                <!-- /.box-heading -->
                <div class="box-body">
                    {% block profile_details %}
                        <div class="user-profile-details">
                            <table class="table table-bordered table-striped user-profile-table">
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <code>{{ 'profile.name'|trans }}</code>
                                        </th>
                                        <td>{{ model.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endblock %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        {% endblock %}
    {% endblock %}
{% endblock %}