<?xml version="1.0" encoding="UTF-8"?>
<!--
(c) Xidea Artur Pszczółka <biuro@xidea.pl>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->

<phpunit colors="true" processIsolation = "false" bootstrap="Tests/bootstrap.php">
    <!--
    <php>
        <server name="KERNEL_DIR" value="./Tests/Fixtures/app" />
    </php>
    -->
    <testsuites>
        <testsuite name="XideaUserBundle for the Symfony Framework">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
