<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="pl" />
        
        <title>{% block meta_title %}XSupport{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}XSupport{% endblock %}" />
        {% block meta_tags %}{% endblock %}
            
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">

            {{ include('::header.html.twig') }}

            <div id="page-wrapper">
                {% block main %}{% endblock %}
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        
        {% block javascripts %}{% endblock %}
    </body>
</html>