{% extends 'XideaUserBundle::base.html.twig' %}
{% block xidea_user_header_title %}
{{ 'user_change_password.title'|trans }}
{% endblock %}
{% block xidea_user_main %}
    <div class="row">
        <div class="col-lg-6">
            {{ include('XideaUserBundle:User/ChangePassword:form.html.twig') }}
        </div>
    </div>
{% endblock %}
