{% extends xidea_template('user_main') %}
{% block bundle_title %}
    <h1 class="page-header">{{ 'user_create.title'|trans }}</h1>
{% endblock %}
{% block bundle_main %}
    {% block user_main %}
        <div class="box user-box">
            <div class="box-header">
                <h3 class="box-title">{{ 'user_create.title'|trans }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% block user_create_form %}
                    {{ include(xidea_template('user_form')) }}
                {% endblock %}
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    {% endblock %}
{% endblock %}
